* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background: linear-gradient(to bottom, #3c0808, #000000); */
    /* background: radial-gradient(circle at top center, #3c0a0a 0%, #000000 100%); */
    background:
        radial-gradient(circle at top center, rgba(60, 10, 10, 0.7) 0%, transparent 50%),
        linear-gradient(to bottom, #3c0a0a 0%, #000000 100%);
    color: white;
}

.container {
    max-width: 600px;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    color: #cccccc;
    margin-bottom: 2rem;
}

.btn {
    background-color: #e04f5f;
    border: none;
    color: #fff;
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #c94353;
}